.block-title {
  &__repair {
    padding: 16px;

    @media (min-width: 768px) {
      padding: 16px 24px;
    }

    @media (min-width: 1120px) {
      padding: 16px 32px;
    }
  }
}

.repair-slider {
  padding: 16px 0 16px 16px;


  @media (min-width: 480px) {
    padding: 16px;
  }

  @media (min-width: 768px) {
    padding: 24px;
  }

  @media (min-width: 1120px) {
    padding: 24px 32px;
  }

  &::after {
    content: '';
    position: absolute;
    right: -1px;
    top: 15px;
    z-index: 100;
    height: 160px;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

    @media (min-width: 480px) {
      display: none;
    }
  }
  &__items {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
      margin: 0 auto;
    }

    @media (min-width: 1120px) {
      width: 1056px;
    }
  }
  &__item {
    display: flex;
    width: 240px;
    height: 160px;

    @media (min-width: 768px) and (max-width: 1119px) {
      flex-basis: 224px;
      margin-top: 16px;

      &:nth-child(n+4) {
        display: none;
      }

      &:not(:nth-child(n+4)) {
        margin-top: 0;
      }

      &:nth-child(3n+1) {
        margin-right: 24px;
      }

      &:nth-child(3n) {
        margin-left: 24px;
      }
    }

    @media (min-width: 1120px) {
      flex-basis: 240px;
      margin-right: 32px;
      margin-top: 16px;

      &:nth-child(n+5) {
        display: none;
      }

      &:not(:nth-child(n+5)) {
        margin-top: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  &__text {
    margin: 16px 0 0 0;
  }

  &__img {
    display: flex;
    align-self: flex-end;
    margin-bottom: 16px;
  }
}

.repair-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  background-color: $whiteColor;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition-duration: .5s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px 1px rgba(51, 51, 51, .35);
  }
}
.show-more {
  &__btn {
  }
}
.button {
}
.swiper-pagination {
  position: static;
  margin-top: -6px;

  @media (min-width: 768px) {
    display: none;
  }
}
