.call-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 440px;
  background-color: $whiteColor;
  z-index: 100;
  height: 100vh;
  transform: translateX(170%);
  transition-duration: .5s;

  &--visible {
    position: fixed;
    right: 0;
    transform: translateX(0);
  }

  &__button {
    margin-top: 24px;
    margin-left: 16px;
    &--close-button {
      background: url("../img/close.png") center center no-repeat
      $pinkColor;

      @media (min-width: $tablet) {
        position: absolute;
        top: 15px;
        left: -100px;
      }
    }
  }

  &__title {
    margin-top: 40px;
    padding-left: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
      width: 4px;
      background-color: $borderColor;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 16px;

  }

  &__description {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: $fontColorActive;
    margin-bottom: 20px;
  }
}

.form {
  &__input {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid $grayColor;
    height: 48px;
    padding: 12px 0 12px 16px;
    color: $paginationColor;

    &::placeholder {
      color: $paginationColor;
    }
  }

}

