.footer {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  margin-bottom: 20px;
  padding: 8px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px 24px;
    margin-bottom: 0;
    margin-top: 48px;
    border-top: 1px solid $borderColor;
  }
  &__inner {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    color: $fontColorActive;
    margin-bottom: 16px;

    @media (min-width: $tablet) {
      flex-basis: 220px;
      margin: 0;
    }

    @media (min-width: $desktop-wide) {
      flex-basis: 330px;
      margin: 0;
    }
  }
}